@import '~styles/reset.scss';
@import './variables.scss';

.app {
    width: 290px;
    max-height: 430px;
    overflow: hidden;
    background-color: $color-bg-default;
    border: 1px solid $color-border-default;

    .title {
        text-align: center;
    }
}
